CompileFlags:
    Add:
        [
            "-xc",
            "-std=gnu11",
            "-nostdinc",

            "-I/usr/src/linux-headers-6.8.0-107-generic/include",
            "-I/usr/src/linux-headers-6.8.0-107-generic/include/uapi",
            "-I/usr/src/linux-headers-6.8.0-107-generic/include/generated",
            "-I/usr/src/linux-headers-6.8.0-107-generic/include/generated/uapi",
            "-I/usr/src/linux-headers-6.8.0-107-generic/arch/x86/include",
            "-I/usr/src/linux-headers-6.8.0-107-generic/arch/x86/include/uapi",
            "-I/usr/src/linux-headers-6.8.0-107-generic/arch/x86/include/generated",
            "-I/usr/src/linux-headers-6.8.0-107-generic/arch/x86/include/generated/uapi",

            "-include /usr/src/linux-headers-6.8.0-107/include/linux/compiler-version.h",
            "-include /usr/src/linux-headers-6.8.0-107/include/linux/compiler_types.h",
            "-include /usr/src/linux-headers-6.8.0-107/include/linux/kconfig.h",

            "-Wall",
            "-Wundef",
            "-Werror=implicit-function-declaration",
            "-Werror=implicit-int",
            "-Werror=return-type",
            "-Werror=strict-prototypes",
            "-Wno-format-security",
            "-Wno-trigraphs",
            "-Wno-frame-address",
            "-Wno-address-of-packed-member",
            "-Wmissing-declarations",
            "-Wmissing-prototypes",
            "-Wframe-larger-than=1024",
            "-Wno-main",
            "-Wno-unused-but-set-variable",
            "-Wno-unused-const-variable",
            "-Wno-dangling-pointer",
            "-Wvla",
            "-Wno-pointer-sign",
            "-Wcast-function-type",
            "-Wno-stringop-overflow",
            "-Wno-array-bounds",
            "-Wno-alloc-size-larger-than",
            "-Wimplicit-fallthrough=5",
            "-Werror=date-time",
            "-Werror=incompatible-pointer-types",
            "-Werror=designated-init",
            "-Wenum-conversion",
            "-Wno-unused-but-set-variable",
            "-Wno-unused-const-variable",
            "-Wno-restrict",
            "-Wno-packed-not-aligned",
            "-Wno-format-overflow",
            "-Wno-format-truncation",
            "-Wno-stringop-truncation",
            "-Wno-override-init",
            "-Wno-missing-field-initializers",
            "-Wno-type-limits",
            "-Wno-shift-negative-value",
            "-Wno-maybe-uninitialized",
            "-Wno-sign-compare",

            "-D__KERNEL__",
            "-DMODULE",
            "-DKBUILD_BASENAME=something",
            "-DKBUILD_MODNAME=rooti",
            "-D__KBUILD_MODNAME=kmod_rooti",
        ]
